// ==========================================================================
// Screen Reader Mixin
// ==========================================================================

////
/// @group Mixins
////

/// Hides text, can be used for screen readers, icons, logos etc
///
/// @example scss - Basic Usage Sass
///    .hide-my-thingie {
///        @include screen-reader-only();
///    }

@mixin screen-reader-only() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
