// ==========================================================================
// Screen Reader Only Utility
// ==========================================================================

/*doc
---
title: Screen Reader only
name: sr_only
category: utilities
---

Helper class to make text available to screen reader users but not display visually

```html_example

<h2 class="u-screen-reader-only">This text is hidden for normal users but will be read by screen readers</h2>
<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Vivamus pharetra varius ullamcorper. Aliquam et nunc posuere, facilisis orci ac, luctus arcu.<p>
```
*/

@import './mixins';

.u-screen-reader-only {
    @include screen-reader-only();
}
